<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
 <div style="margin: 0 200px">

     <table class="table table-bordered table-hover">
         <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>年龄</th>
            </tr>
         </thead>
         <tbody>
         {% for row in obj %}
             <tr>
                 <th><a href="{% url 'data_change' row.id %}">{{ row.id }}</a></th>
                 <th>{{ row.name }}</th>
                 <th>{{ row.age }}</th>

             </tr>
       {% endfor %}
         </tbody>
     </table>

 </div>



</body>
</html>